[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysqlclient = "*"
pillow = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
django-rest-auth = "*"
django = "*"
django-filter = "*"
requests = "*"
django-extensions = "*"

[dev-packages]

[requires]
python_version = "3.9"
